<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcWhatsUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcWhatsUp.styles.css" asp-append-version="true" />
    @{
        string? theme = Context.Request.Cookies["PreferredTheme"];
        if ((theme !=null) && ((theme == "dark") || (theme == "light")) )
        {
            theme = theme + ".css";
            <link rel="stylesheet" href="~/css/@theme" asp-append-version="true" />
        }
    }

</head>
<body>
    <header>
        <partial name="_TopMenu.cshtml" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex">
        <div class="container">
            &copy; 2025 - MvcWhatsUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

        <div class="container">
            <ul class="navbar-nav flex-row justify-content-end">
                <li class="mx-1">
                    <p> Preferred theme:</p>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/Users/SetPreferredTheme?theme=light">Light</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/Users/SetPreferredTheme?theme=dark">Dark</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="ClearPreferredTheme">Reset</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
